body {
    background-color: #141414;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    text-shadow: 2px 2px #444;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    background-color: #333;
    color: #eee;
    border-radius: 5px 0 0 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="text"]:focus {
    outline: none;
    background-color: #444;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #bd8aff;
    border: none;
    color: #333;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #a565d9;
    cursor: pointer;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #444;
    transition: background-color 0.2s ease-in-out;
  }
  
  .todo-item:hover {
    background-color: #333;
  }
  
  .todo-text {
    flex-grow: 1;
    font-size: 1.2rem;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .todo-item.checked .todo-text {
    color: #666;
    text-decoration: line-through;
  }
  
  .delete-button {
    background-color: #444;
    color: #eee;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .delete-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #333;
  }
  
  .clear-completed {
    background-color: #444;
    color: #eee;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }